@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// ==== font list name ====

$overPass: 'Overpass', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

//  ==== end of font list ====

//  ==== font sizes ====
$fs-heading: 3rem;
$fs-title: 1.5rem;
$fs-body: 1rem;
$fs-paragraph: .8rem;
//  ==== end of font sizes ====

// ======== color profile =======

// Primary Colors
$Light-red: hsl(356, 100%, 66%);
$Vlight-red: hsl(355, 100%, 74%);
$darkBlue: hsl(208, 49%, 24%);

// Neutral Colors
$White: hsl(0, 0%, 100%);
$GrayishBlue: hsl(240, 2%, 79%);
$darkBlackBlue: hsl(240, 10%, 16%);

// Gradient Colors
$GlightRed: hsl(13, 100%, 72%);
$GLightRed: hsl(353, 100%, 62%);
$darkGrayBlue: hsl(237, 17%, 21%);
$darkDesaturatedBlue: hsl(237, 23%, 32%);

// ======== end of color profile ======= 


// ==== btn mixin ====
@mixin btn {
    // style button element
    button{
        border-radius: 50px;
        padding: 15px 40px;
        outline: none;
        border: 0;
    }

}
// end of btn mixin


.header{
    background: $Light-red url(../images/bg-pattern-intro.svg);
    background-position: 100px;
    background-size: cover;
    min-height: 70vh;
    padding: 4% 7%;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 100px;

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .menu-logo{
        display: flex;
        align-items: center;

    }

    .menu-btn{
        @include btn;

        .login-btn{
            color: $White;
            background-color: transparent;
        }

        .signup-btn{
            background-color: $Vlight-red;
            color: $White;
        }
    }

    .nav-links{
        color: $White;
        transform: translateX(50px);
        font-family: $ubuntu;

        .active-nav-links{
            display: flex;

            li{
                list-style-type: none;
                margin: 0 20px;
            }

            .arrow-btn{
                margin-left: 10px;
                cursor: pointer;
            }
        }

        .dropdown-links{
            display: none;
        }
    }

    .content{
        transform: translateY(80px);
        

        .header-title{
            color: $White;
            font-family: $overPass;
            font-size: $fs-heading;
        }

        .content-description{
            font-size: $fs-body;
            color: $White;
            font-family: $ubuntu;
            transform: translateY(20px);
        }

        .content-btn{
            @include btn;
            display: flex;
            transform: translateY(80px);
            justify-content: center;

            .getStarted-btn{
                background-color: $Vlight-red;
                color: $White;
                margin: 0 10px;
                cursor: pointer;
                transition: all 250ms;
            }

            .getStarted-btn:hover{
                transform: translateY(-8px);
                box-shadow: 0px 0px 11px 0.15px rgba($color: #000000, $alpha: 0.5);
            }


            .learn-more-btn{
                background-color: $White;
                color: $Vlight-red;
                margin: 0 10px;
                cursor: pointer;
                transition: all 250ms;
            }

            .learn-more-btn:hover{
                transform: translateY(-8px);
                box-shadow: 0px 0px 11px 0.15px rgba($color: #000000, $alpha: 0.5);
            }
        }


    }
}